<section class="mt-5">
	<ul class="nav nav-tabs nav-fill mb-4" id="articles_tab" role="tablist">
		<li class="nav-item cursor-pointer" role="presentation">
			<a class="nav-link cursor-pointer active fw-bold" id="read-tab" data-bs-toggle="tab" data-bs-target="#most_read_articles" role="tab" aria-controls="home" aria-selected="true">Most Read Articles</a>
		</li>
		<li class="nav-item cursor-pointer">
			<a class="nav-link cursor-pointer fw-bold" id="downloaded-tab" data-bs-toggle="tab" data-bs-target="#most_downloaded_articles" role="tab" aria-controls="profile" aria-selected="false">Most Downloaded Articles</a>
		</li>
		<li class="nav-item cursor-pointer">
			<a class="nav-link fw-bold cursor-pointer" id="cited-tab" data-bs-toggle="tab" data-bs-target="#most_cited_articles" role="tab" aria-controls="cited" aria-selected="false">Most Cited Articles</a>
		</li>
	</ul>
	<div class="mb-5">
		<div class="tab-content" id="articles_tab_content">
			<div class="tab-pane article_list fade show active" id="most_read_articles" role="tabpanel" aria-labelledby="most_read_articles-tab"> 
				{% for article in most_read_articles %}
					<article class="mb-4 border-start border-5 pl-4 py-2 border-primary">
						<h1 class="h5 fw-bold">
							<a href="/article/{{article.year}}/{{article.volume}}/{{article.issue}}/{{ article.article_id }}">{{ article.article_title | raw }}</a>
						</h1>
						<p class="font-italic">{{ article.authors }}</p>
						<div>
							<p>
								<span class="text-primary fw-bold">Year:</span> {{ article.year }} |
								<span class="text-primary fw-bold">Volume:</span> {{ article.volume }} |
								<span class="text-primary fw-bold">Issue:</span> {{ article.issue }}
							</p>
						</div>
						<div>
							<a class="btn btn-primary btn-sm" href="/article/{{article.year}}/{{article.volume}}/{{article.issue}}/{{ article.article_id }}">
								<i class="bi-file-earmark-ruled-fill pr-2"></i>
								<span>View Article</span>
							</a>
							{% if get_pdf_by_id(article.article_id) %}
								<a 
									class="btn btn-danger d-md-inline-block d-block mb-md-0 mb-2 text-left btn-sm" 
									href="/article/{{article.year}}/{{article.volume}}/{{article.issue}}/{{ article.article_id }}/pdf" target="_blank" rel="noopener noreferrer">
									<i class="bi-file-pdf-fill pr-2"></i>
									<span>Download PDF</span>
								</a>
							{% endif %}
						</div>
					</article>
				{% endfor %}
			</div>
			<div class="tab-pane article_list fade" id="most_downloaded_articles" role="tabpanel" aria-labelledby="most_downloaded_articles-tab"> 
				{% for article in most_downloaded_articles %}
				<article class="mb-4 border-start border-5 pl-4 py-2 border-primary">
					<h1 class="h5 fw-bold">
						<a href="/article/{{article.year}}/{{article.volume}}/{{article.issue}}/{{ article.article_id }}">{{ article.article_title | raw }}</a>
					</h1>
					<p class="font-italic">{{ article.authors }}</p>
					<div>
						<p>
							<span class="text-primary fw-bold">Year:</span> {{ article.year }} |
							<span class="text-primary fw-bold">Volume:</span> {{ article.volume }} |
							<span class="text-primary fw-bold">Issue:</span> {{ article.issue }} |
							<span class="text-primary fw-bold">Downloaded:</span> {{ article.download_count }}
						</p>
					</div>
					<div>
						<a class="btn btn-primary btn-sm" href="/article/{{article.year}}/{{article.volume}}/{{article.issue}}/{{ article.article_id }}">
							<i class="bi-file-earmark-ruled-fill pr-2"></i>
							<span>View Article</span>
						</a>
						{% if get_pdf_by_id(article.article_id) %}
							<a 
								class="btn btn-danger d-md-inline-block d-block mb-md-0 mb-2 text-left btn-sm" 
								href="/article/{{article.year}}/{{article.volume}}/{{article.issue}}/{{ article.article_id }}/pdf" target="_blank" rel="noopener noreferrer">
								<i class="bi-file-pdf-fill pr-2"></i>
								<span>Download PDF</span>
							</a>
						{% endif %}
					</div>
				</article>
				{% endfor %}
			</div>
			<div class="tab-pane article_list fade" id="most_cited_articles" role="tabpanel" aria-labelledby="most_cited_articles-tab"> 
				{% for article in most_cited_articles %}
				<article class="mb-4 border-start border-5 pl-4 py-2 border-primary">
					<h1 class="h5 fw-bold">
						<a href="/article/{{article.year}}/{{article.volume}}/{{article.issue}}/{{ article.article_id }}">{{ article.article_title | raw }}</a>
					</h1>
					<p class="font-italic">{{ article.authors }}</p>
					<div>
						<p>
							<span class="text-primary fw-bold">Year:</span> {{ article.year }} |
							<span class="text-primary fw-bold">Volume:</span> {{ article.volume }} |
							<span class="text-primary fw-bold">Issue:</span> {{ article.issue }} |
							<span class="text-primary fw-bold">Cited:</span> {{ article.crossref_citation_count }}
						</p>
					</div>
					<div>
						<a class="btn btn-primary btn-sm" href="/article/{{article.year}}/{{article.volume}}/{{article.issue}}/{{ article.article_id }}">
							<i class="bi-file-earmark-ruled-fill pr-2"></i>
							<span>View Article</span>
						</a>
						{% if get_pdf_by_id(article.article_id) %}
							<a 
								class="btn btn-danger d-md-inline-block d-block mb-md-0 mb-2 text-left btn-sm" 
								href="/article/{{article.year}}/{{article.volume}}/{{article.issue}}/{{ article.article_id }}/pdf" target="_blank" rel="noopener noreferrer">
								<i class="bi-file-pdf-fill pr-2"></i>
								<span>Download PDF</span>
							</a>
						{% endif %}
					</div>
				</article>
				{% endfor %}
			</div>
		</div>
	</div>
</section>