{% include "home/components/header.twig" %}
<div class="container-fluid px-4">

	{% if SETTINGS.show_metrics %}
	
	<div class="row my-4">
		<div class="col-md-4">
			<div class="card text-center border-0 rounded-2 shadow">
				<h6><span class="badge bg-primary">{{ journal_data.decission }}</span> Days</h6>
				<small>{{ journal_data.decission_text }}</small>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-center border-0 rounded-2 shadow">
				<h6><span class="badge bg-primary">{{ journal_data.acceptance }}</span> Days</h6>
				<small>{{ journal_data.acceptance_text }}</small>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-center border-0 rounded-2 shadow">
				<h6><span class="badge bg-primary">{{ journal_data.rate }}</span> %</h6>
				<small>{{ journal_data.rate_text }}</small>
			</div>
		</div>
	</div>
	{% endif %}
	{% include "home/components/articles.twig" %}
	{% include "home/components/editorial_board.twig" %}
	
</div>