
<section class="text-white">
    <h3 class="h5 mb-3">Affiliated Society</h3>
    <div class="bg-white">
        <img loading="lazy" src="/resources/assets/images/redcresent.png" alt="Red crecent logo" class="img-fluid rounded-3"/>
    </div>

    <img loading="lazy" src="/uploads/cover/{{ journal_data.journal_cover }}" alt="{{ _ENV('JOURNAL_TITLE') }} Cover" class="img-fluid shadow rounded-3 my-2">
    <p class="mb-4">
        {%  if( journal_data.issn != '' )  %}
        <div class="d-block" id="issn"><span class="fw-bold">ISSN: </span>{{ journal_data.issn }}</div>
        {% endif %}
        {%  if( journal_data.eissn != '' )  %}
        <div class="d-block" id="eissn"><span class="fw-bold">E-ISSN: </span>{{ journal_data.eissn }}</div>
        {% endif %}
    </p>
    {% if SETTINGS.show_article and featured_article.featured_title %}
    {% if featured_article.featured_image %}
    <img loading="lazy" src="/uploads/featured/{{ featured_article.featured_image }}" alt="{{ _ENV('JOURNAL_TITLE') }} featured article" class="img-fluid mb-4 shadow rounded-3"/>
    {% endif %}
    <h3 class="h5 mb-3">{{ featured_article.featured_title }}</h3>
    <div>{{ decode(featured_article.featured_text) | raw }}</div>
    <div>
        <a href="{{ featured_article.featured_url }}" class="btn btn-primary px-4" target="_blank" rel="noopener noreferrer">Read full article</a>
    </div>
    {% endif %}
    {% if journal_data.twitter != '' %}
    <div id="twitter_widget">
        <a class="twitter-timeline" data-height="500" href="https://twitter.com/{{ journal_data.twitter }}?ref_src=twsrc%5Etfw"></a> 
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        {% endif %}
        {% if SETTINGS.show_coffee %}
        <div id="donations">
            <h3 class="my-4">Buy us a cup of coffee</h3>
            <img  src="/resources/assets/images/coffee.png" class="img-fluid mb-4" loading="lazy" alt="qr code" />
            <a class="btn btn-block btn-primary" href="https://buy.stripe.com/3cscPzgyy9tyfS06oM" target="_blank">Buy now</a>
        </div>
    {% endif %}
</section>