<div class="tab-pane fade show active" id="abstract" role="tabpanel" aria-labelledby="abstract-tab">
	<article role="article">
		<h1 class="h3 text-primary mb-4" aria-label="Abstract Title">{{data.ArticleTitle | raw}}</h1>
		<hr />

		<p aria-describedby="article authors">
			<b class="text-primary" role="strong">Authors: </b>
			<i role="emphasis">
				{% for author in data.AuthorList.Author %}
					{{author.FirstName ? author.FirstName : '' }} {{author.MiddleName ? author.MiddleName : '' }} {{author.LastName ? author.LastName : '' }}{% if not loop.last %}, {% endif %}
				{% endfor %}
			</i>
		</p>
		<hr />
		<h4 aria-describedby="section heading">Abstract</h4>
		<p class="font-normal" aria-label="paragraph">{{data.Abstract | raw}}</p>
		<hr />
		

		<p class="mb-0 pb-2" aria-describedby="article keywords">
			<b role="strong" class="text-primary">Keywords: </b>
			<i>
				{% for keyword in data.ObjectList.Object %}
					{{keyword.Param}}{% if not loop.last %}, {% endif %}
				{% endfor %}
			</i>
		</p>
		<hr />
		
		{% if google.cited_by_count %}
		<h4 aria-describedby="section heading">
			<a href="https://scholar.google.com{{google.cited_by_url}}" target="_blank" rel="noopener noreferrer">
				View Google Scholor citations: {{google.cited_by_count}} 
			</a>
		</h4>
		<hr />
		{% endif %}
		{% if citations %}
			<h4 aria-describedby="section heading">CrossRef Citations</h4>
			{% for citation in citations %}
				<a href="http://doi.org/{{citation.doi}}" target="_blank" rel="noopener noreferrer">
					<div class="card bg-light shadow-sm border-primary mb-2" style="border-width: 0; border-left-width: 5px; border-left-style: solid; ">
						<div class="card-body">
							<h2 class="h6">
								{{ citation.article_title }}
							</h2>
							<p>
								<small>
									<b>Journal:</b> {{ citation.article_journal }} | <b>Year:</b> {{ citation.year }} | <b>Volume:</b> {{ citation.volume }} | <b>DOI:</b> {{ citation.doi }}
								</small>
							</p>
						</div>
					</div>
				</a>
			{% endfor %}
		{% endif %}
	</article>
	{% if not _ENV('APP_DEBUG') %}

	<a
		aria-describedby="plumx article metrics link"
		data-badge="true"
		data-hide-when-empty="true"
		href="https://plu.mx/plum/a/?doi={{data.ELocationID}}" 
		data-popup="bottom" 
		data-size="medium" 
		class="plumx-plum-print-popup plum-liberty-theme" 
		data-site="plum" 
		data-pass-hidden-categories="true"
	>
		{{data.ArticleTitle}}
	</a>
	{% endif %}
</div>
