<div class="tab-pane fade" id="article_info" role="tabpanel" aria-labelledby="article_info-tab">
	<h3 class="text-primary mb-3">Authors</h3>
	{% for author in data.AuthorList.Author %}
		<h2 class="h5">
			{{author.FirstName ? author.FirstName : '' }} {{author.MiddleName ? author.MiddleName : '' }} {{author.LastName ? author.LastName : '' }}
		</h2>
		{% if author.Affiliation %}
		<p>{{author.Affiliation}}</p>
		{% endif %}
		<a class="btn btn-outline-secondary btn-sm" href="https://scholar.google.com/scholar?q={{author.FirstName ? get_initials(author.FirstName) : '' }}{{author.MiddleName ? get_initials(author.MiddleName) : '' }} {{author.LastName ? author.LastName : '' }}" target="_blank" rel="noopener noreferrer">Google Scholor Articles</a>
		<hr />
	{% endfor %}
</div>
