<div class="row">
	<div class="col-md-6">
		{% if previousArticle %}
			<a href="/article/{{ data.Journal.PubDate.Year }}/{{ data.Journal.Volume }}/{{ data.Journal.Issue }}/{{get_article_url(previousArticle.ELocationID)}}" class="btn mr-2 btn-primary d-md-inline-block d-block">
				<i class="bi bi-arrow-left pr-2"></i> 
				Previous Article
			</a>
		{% endif %}
		{% if nextArticle %}
			<a href="/article/{{ data.Journal.PubDate.Year }}/{{ data.Journal.Volume }}/{{ data.Journal.Issue }}/{{get_article_url(nextArticle.ELocationID)}}" class="btn mr-2 btn-primary d-md-inline-block d-block">
				Next Article
				<i class="bi bi-arrow-right pl-2"></i> 
			</a>
		{% endif %}

	</div>
	<div class="col-md-6 text-right">
		{% if files.pdf %}
			<a href="/article/{{ data.Journal.PubDate.Year }}/{{ data.Journal.Volume }}/{{ data.Journal.Issue }}/{{ get_article_url(data.ELocationID) }}/pdf" target="_blank" rel="noopener noreferrer" class="btn mr-2 btn-danger d-md-inline-block d-block">
				<i class="bi-file-pdf-fill pr-2"></i>
				View PDF
			</a>
		{% endif %}
	</div>
</div>
