<div class="tab-pane fade" id="citation" role="tabpanel" aria-labelledby="citation-tab">
	<div class="row">
		<div class="col-md-3 mb-3">
			<a href="/article/{{ data.Journal.PubDate.Year }}/{{ data.Journal.Volume }}/{{ data.Journal.Issue }}/{{ get_article_url(data.ELocationID) }}/bibtex" 
			 	class="btn btn-outline-primary d-block" 
				target="_blank" 
				rel="noopener noreferrer">BibTex</a>
		</div>
		<div class="col-md-3 mb-3">
			<a href="/article/{{ data.Journal.PubDate.Year }}/{{ data.Journal.Volume }}/{{ data.Journal.Issue }}/{{ get_article_url(data.ELocationID) }}/bookends" 
			 	class="btn btn-outline-primary d-block" 
				target="_blank" 
				rel="noopener noreferrer">Bookends</a>
		</div>
		<div class="col-md-3 mb-3">
			<a href="/article/{{ data.Journal.PubDate.Year }}/{{ data.Journal.Volume }}/{{ data.Journal.Issue }}/{{ get_article_url(data.ELocationID) }}/endnoteTagged" 
			 	class="btn btn-outline-primary d-block" 
				target="_blank" 
				rel="noopener noreferrer">Endnote (Tagged)</a>
		</div>
		<div class="col-md-3 mb-3">
			<a href="/article/{{ data.Journal.PubDate.Year }}/{{ data.Journal.Volume }}/{{ data.Journal.Issue }}/{{ get_article_url(data.ELocationID) }}/endnoteXML" 
			 	class="btn btn-outline-primary d-block" 
				target="_blank" 
				rel="noopener noreferrer">Endnote (XML)</a>
		</div>
		<div class="col-md-3 mb-3">
			<a href="/article/{{ data.Journal.PubDate.Year }}/{{ data.Journal.Volume }}/{{ data.Journal.Issue }}/{{ get_article_url(data.ELocationID) }}/medlars" 
			 	class="btn btn-outline-primary d-block" 
				target="_blank" 
				rel="noopener noreferrer">Medlars</a>
		</div>
		<div class="col-md-3 mb-3">
			<a href="/article/{{ data.Journal.PubDate.Year }}/{{ data.Journal.Volume }}/{{ data.Journal.Issue }}/{{ get_article_url(data.ELocationID) }}/mendlay" 
			 	class="btn btn-outline-primary d-block" 
				target="_blank" 
				rel="noopener noreferrer">Mendlay</a>
		</div>

		<div class="col-md-3 mb-3">
			<a href="/article/{{ data.Journal.PubDate.Year }}/{{ data.Journal.Volume }}/{{ data.Journal.Issue }}/{{ get_article_url(data.ELocationID) }}/refworksTagged" 
			 	class="btn btn-outline-primary d-block" 
				target="_blank" 
				rel="noopener noreferrer">Refworks (Tagged)</a>
		</div>
		<div class="col-md-3 mb-3">
			<a href="/article/{{ data.Journal.PubDate.Year }}/{{ data.Journal.Volume }}/{{ data.Journal.Issue }}/{{ get_article_url(data.ELocationID) }}/ris" 
			 	class="btn btn-outline-primary d-block" 
				target="_blank" 
				rel="noopener noreferrer">RiS</a>
		</div>
		<div class="col-md-3 mb-3">
			<a href="/article/{{ data.Journal.PubDate.Year }}/{{ data.Journal.Volume }}/{{ data.Journal.Issue }}/{{ get_article_url(data.ELocationID) }}/zotero" 
			 	class="btn btn-outline-primary d-block" 
				target="_blank" 
				rel="noopener noreferrer">Zotero</a>
		</div>
	</div>
</div>
